.colorMenu{
    background-color: burlywood;
}
.logo{

    margin-left: 2rem;
}




.banner{
    padding: 2rem;

    width: 70rem;

    display: flex;
    justify-content: center;

}

@media (max-width: 425px) {

    .banner{
        display: flex;
        flex-direction: column-reverse;
        width: 22rem;

    }
    .imagenBanner img{
        width: 18rem;
        padding-bottom: 2rem;
    }

}
